#title {
    color: rgb(252, 252, 252);
    font-size: 24px;
    text-align: center; /* Center align the text */
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
    text-transform: uppercase; /* Convert text to uppercase */
    font-weight: bold; /* Set font weight to bold */
    padding-left: 100px;
  }
  


  /* #container {
    padding-left: 10px;
    padding-right: 10px;
  } */
  #heder {
    background-image: url('./assets/image/heder1.jpeg');
    background-size: 100% auto; /* Set the width to 100% and auto adjust the height */
    background-position: center; /* Center the background image */
    height: 180px; /* Set your desired height */
  }
  #navButton .nav-link {
    font-weight: bold;
    color: aliceblue;
  }

  #space{
    padding-top: 30px;
  }
  
  #weatherImage {
    width: 150px; /* Set your desired width */
    height: 150px; /* Set your desired height */
  }
  #detalis1{
    color: rgb(231, 231, 231);
    width: 370px; /* Set your desired width */
    height: 400px;
    padding-top: 50px;
    padding-left: 80px;
    background-image: url('./assets/image/hader.png');
    border-radius: 10px;
  }
  #tempValue{
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
  }
  #conditionValue{
    font-size: 25px;
  }
  #subTitle{
    color: aliceblue;
    text-align: center;
    height: 45px;
    background-color: rgb(18, 19, 90);
  }
  #space2{
    height: 45px;
  }
  #cityName{
    font-size: 40px;
    font-weight: bold;
  }

  .container-icon{
    padding-left: 100px;
  }

  #table{
    padding-right: 50px;
  }
    
  
  
  
  
  